/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section#landing{
    height: 100vh;
    overflow: hidden;
    background:url('../img/bg.svg') no-repeat center center/cover;

}



/* Landing image */

#landing img {
    width: 50%;
    max-height: 100vh;
    float: right;
}

@media(max-width: 760px) {
    #landing img {
        width: 75%;
    }
}

@media(max-width: 480px) {
    #landing img {
        width: 100%;
    }
}

/* Main Heading */
#main-heading, #typed-cursor {
    font-size: 5rem;
    color: coral;
    position: relative;
    top: 60vh;
    left: 50px;
}

#typed-cursor {
    opacity: 1;
    animation: blink .7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
